@font-face {
  font-family: "Inter-Bd";
  src: url(./../fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-Rg";
  src: url(./../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "WorkSans";
  src: url(./../fonts/WorkSans-VariableFont_wght.ttf);
}
h1 {
  font-family: "Inter-Bd";
  font-size: 64px;
  font-weight: 600;
  color: white;
  letter-spacing: 0;
  border: none;
  display: block;
  line-height: 0.9;
}

h2 {
  font-family: "Inter-Bd";
  font-size: 6rem;
  letter-spacing: -2px;
}

h3 {
  font-family: "Inter-Bd";
  font-size: 5.25rem;
  letter-spacing: -2px;
  line-height: 1;
}

h4 {
  font-family: "Inter-Bd";
  font-size: 30px;
  line-height: 33px;
}

h5 {
  font-family: "Inter-Bd";
  font-size: 24px;
  line-height: 46px;
  letter-spacing: -0.4px;
}

h6 {
  font-family: "WorkSans";
  font-size: 12px;
  font-weight: 400;
  color: white;
  letter-spacing: -0.5px;
  border: none;
  line-height: normal;
}

.p-small {
  font-family: "WorkSans";
  font-size: 14px;
}

.p-medium {
  font-family: "WorkSans";
  font-size: 16px;
  line-height: 30px;
}

.p-large {
  font-family: "WorkSans";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.4px;
  padding-bottom: 32px;
  padding-top: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0px 112px 40px 112px;
}
header .wrapper-header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .wrapper-header-top .title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  padding: 40px 0;
}
header .wrapper-header-top .title-div .h1-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0 16px 0;
}
header .wrapper-header-top .title-div .h1-wrapper .h1-outline {
  font-family: "Inter-Bd";
  font-size: 64px;
  font-weight: 600;
  color: black;
  letter-spacing: 0;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  display: block;
  margin: 0;
  line-height: 0.9;
}
header .logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .logo-div input {
  padding: 12px 32px;
  font-family: "WorkSans";
  font-size: 20px;
  border: 1px solid #fff;
  background-color: black;
  color: white;
}
header .logo-div input:hover {
  background-color: #fff;
  color: #000;
}

.facts-figures {
  background-color: #000;
  color: #fff;
  padding: 112px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: relative;
}
.facts-figures .figures {
  padding-bottom: 16px;
}
.facts-figures img {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 32%;
}

.stuck-in-middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 416px;
  padding-bottom: 320px;
  position: relative;
}
.stuck-in-middle .text-block {
  width: 460px;
}
.stuck-in-middle .text-block h3 {
  font-family: "Inter-Bd";
  font-size: 5.25rem;
  letter-spacing: -2px;
}
.stuck-in-middle .text-block:nth-of-type(1) {
  margin-bottom: 672px;
}
.stuck-in-middle img {
  position: absolute;
}
.stuck-in-middle img:nth-of-type(1) {
  top: -80px;
  right: 112px;
}
.stuck-in-middle img:nth-of-type(2) {
  top: 288px;
  left: 56px;
}
.stuck-in-middle img:nth-of-type(3) {
  top: 656px;
  right: 0px;
}
.stuck-in-middle img:nth-of-type(4) {
  top: 880px;
  left: 220px;
}
.stuck-in-middle img:nth-of-type(5) {
  top: 1060px;
  right: 160px;
}
.stuck-in-middle img:nth-of-type(6) {
  top: 1360px;
  left: 0px;
}
.stuck-in-middle img:nth-of-type(7) {
  top: 1660px;
  right: 270px;
}

.the-bears-white {
  background-color: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 112px;
}
.the-bears-white .article-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article-images-1 {
  background-color: #000;
  position: relative;
  padding: 112px;
  height: 720px;
  z-index: 1;
}
.article-images-1 img:nth-of-type(1) {
  position: absolute;
  width: 54%;
}
.article-images-1 img:nth-of-type(2) {
  position: absolute;
  right: 16%;
  width: 30%;
  top: 270px;
}

.article-animation {
  position: relative;
  background-color: #fff;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.article-animation img {
  margin-top: -160px;
  margin-right: -180px;
  animation-name: typo-spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
@keyframes typo-spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.the-bears-black {
  background-color: #fff;
  color: #000;
  position: relative;
  z-index: 1;
  padding: 112px;
}
.the-bears-black .article-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article-images-2 {
  position: relative;
  padding: 112px;
  height: 720px;
  margin-bottom: 16%;
  z-index: 1;
}
.article-images-2 img:nth-of-type(1) {
  position: absolute;
  width: 30%;
  left: 16%;
  top: 260px;
  z-index: 1;
}
.article-images-2 img:nth-of-type(2) {
  position: absolute;
  width: 54%;
  right: 112px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 112px 112px 32px 112px;
  position: relative;
  overflow: hidden;
}
footer article {
  margin-bottom: 80px;
  width: 50%;
}
footer article h5 {
  padding: 16px 0;
}
footer article input {
  padding: 12px 32px;
  font-family: "WorkSans";
  font-size: 20px;
  border: 1px solid #fff;
  background-color: black;
  color: white;
}
footer article input:hover {
  background-color: #fff;
  color: #000;
}
footer .footer-nav {
  display: flex;
  justify-content: space-between;
}
footer .footer-nav .footer-nav-links {
  display: grid;
  gap: 8px;
}
footer .footer-nav .footer-nav-rechts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
footer .footer-nav .footer-nav-rechts img {
  width: 80px;
}
footer .footer-animation {
  background-color: #fff;
  padding: 16px;
  animation-name: typo-run;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  text-align: center;
  position: absolute;
  top: 0px;
  right: -540px;
  rotate: 45deg;
  width: 2000px;
}
footer .footer-animation h1 {
  color: #000;
  text-transform: uppercase;
}
footer .footer-animation span {
  color: #fff;
  letter-spacing: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 0;
}
@keyframes typo-run {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(580px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 800px) {
  header {
    padding: 0px 80px 40px 80px;
  }
  h2 {
    font-size: 4.5rem;
  }
  .facts-figures {
    padding: 80px;
  }
  .stuck-in-middle {
    padding: 80px;
  }
  .stuck-in-middle .text-block {
    width: 100%;
    margin-bottom: 40px;
  }
  .stuck-in-middle .text-block:nth-of-type(1) {
    margin-bottom: 40px;
  }
  .stuck-in-middle .middle-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
    text-align: center;
  }
  .stuck-in-middle .middle-images img {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .stuck-in-middle .middle-images img:nth-of-type(1) {
    top: 0;
    right: 0;
  }
  .stuck-in-middle .middle-images img:nth-of-type(2) {
    top: 0;
    left: 0;
  }
  .stuck-in-middle .middle-images img:nth-of-type(3) {
    top: 0;
    right: 0;
  }
  .stuck-in-middle .middle-images img:nth-of-type(4) {
    top: 0;
    left: 0;
  }
  .stuck-in-middle .middle-images img:nth-of-type(5) {
    top: 0;
    right: 0;
  }
  .stuck-in-middle .middle-images img:nth-of-type(6) {
    top: 0;
    left: 0;
  }
  .stuck-in-middle .middle-images img:nth-of-type(7) {
    top: 0;
    right: 0;
    grid-column: 1/3;
  }
  .the-bears-white {
    padding: 80px 80px 0 80px;
  }
  .the-bears-white .article-wrapper {
    gap: 16px;
  }
  .article-images-1 {
    padding: 80px;
    height: 400px;
  }
  .article-images-1 img:nth-of-type(2) {
    top: 160px;
  }
  .article-animation {
    height: 100%;
  }
  .article-animation img {
    margin-right: -100px;
  }
  .the-bears-black {
    padding: 80px 80px 0 80px;
  }
  .the-bears-black .article-wrapper {
    gap: 16px;
  }
  .article-images-2 {
    padding: 80px;
    margin-bottom: 0;
  }
  footer {
    padding: 80px 80px 0px 80px;
  }
  footer article {
    width: 100%;
  }
  footer article input:hover {
    background-color: #000;
    color: #fff;
  }
  footer .footer-nav {
    padding-bottom: 16px;
  }
  footer .footer-animation {
    position: relative;
    right: 0px;
    rotate: 0deg;
    width: 250%;
  }
  @keyframes typo-run {
    0% {
      transform: translateX(-180px);
    }
    50% {
      transform: translateX(-780px);
    }
    100% {
      transform: translateX(-180px);
    }
  }
}
@media screen and (max-width: 500px) {
  header {
    padding: 0px 24px 40px 24px;
  }
  h2 {
    font-size: 3rem;
  }
  h4 {
    line-height: 1.5;
  }
  .facts-figures {
    padding: 40px 24px;
  }
  .facts-figures img {
    bottom: 150px;
  }
  .stuck-in-middle {
    padding: 40px 24px;
  }
  .stuck-in-middle .text-block {
    margin-bottom: 40px;
  }
  .stuck-in-middle .text-block h3 {
    font-size: 2.75rem;
    margin-bottom: 24px;
  }
  .stuck-in-middle .text-block .p-medium {
    font-size: 20px;
    line-height: 2;
  }
  .the-bears-white {
    padding: 40px 24px 0 24px;
  }
  .the-bears-white .article-wrapper {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .article-images-1 {
    padding: 80px;
    height: 400px;
  }
  .article-images-1 img:nth-of-type(2) {
    top: 160px;
  }
  .article-animation {
    height: 160px;
  }
  .article-animation img {
    margin-right: -100px;
  }
  .the-bears-black {
    padding: 0px 40px 0 24px;
  }
  .the-bears-black .article-wrapper {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .article-images-2 {
    padding: 40px;
    height: 500px;
  }
  footer {
    padding: 24px 24px 0px 24px;
  }
  footer article input:hover {
    background-color: #fff;
    color: #000;
  }
  footer .footer-nav {
    padding-bottom: 16px;
  }
  footer .footer-animation {
    position: relative;
    right: 0px;
    rotate: 0deg;
    width: 500%;
    animation-duration: 20s;
  }
  @keyframes typo-run {
    0% {
      transform: translateX(-380px);
    }
    50% {
      transform: translateX(-1080px);
    }
    100% {
      transform: translateX(-380px);
    }
  }
}

/*# sourceMappingURL=style.css.map */
